<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="all">
    <title>CARS</title>
  </head>
  <body>
     <h1>MORE CARS</h1>
     <ul>
        <h2>Your results: </h2>
        {% for car in matching_cars %}
            <h4>{{ car.getModel}}</h4>
            <ul>
                <li>Mileage: {{ car.getMiles}}</li>
                <li>Price: {{ car.getPrice}}</li>
                <li><img src="/{{car.getImage}}" alt="{{car.getModel}}" /></li>
            </ul>
        {% endfor %}
     </ul>
  </body>
</html>
