<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css" media="all">
    <title>Find a Car</title>
</head>
<body>
    <div class="container">
        <h1>Find a Car!</h1>
        <form action="/results" method="get">
            <div class="form-group">
                <label for="user_price">Enter Maximum Price:</label>
                <input id="user_price" name="user_price" class="form-control" type="number">
            </div>
            <div class="form-group">
                <label for="user_miles">Enter Maximum Mileage:</label>
                <input id="user_miles" name="user_miles" class="form-control" type="number">
            </div>
            <button type="submit" class="btn-success">Submit</button>
        </form>

        <a href="/add_listing">Add A Listing</a>
        <form action='/delete' method='post'>
            <button type='submit'>Clear</button>
        </form>

        <h1>Our Inventory</h1>
        <ul>
           {% for car in cars %}
               <h4>{{ car.getModel}}</h4>
               <ul>
                   <li>Mileage: {{ car.getMiles}}</li>
                   <li>Price: {{ car.getPrice}}</li>
                   <li><img src="{{car.getImage}}" alt="{{car.getModel}}" /></li>
               </ul>
           {% endfor %}
        </ul>
    </div>
</body>
</html>
